<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftdd2.sys.mapper.JobTableMapper">


    <select id="pageQuery" resultType="com.ftdd2.sys.entity.JobTable">
        select j.*,c.title from ft_demo.job_table j
        left join ft_demo.job_category c on j.title_id=c.Tid
        <where>
            <if test="title != null">
                and j.title like concat('%',#{title},'%')
            </if>
        <if test="titleId!=null">
            and j.title_id=#{titleId}
        </if>
        order by j.create_time
        </where>
    </select>
</mapper>
