<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftdd2.mapper.JobTableMapper">

    <select id="getHotCompany" resultType="java.util.Map">
        SELECT
            job_table.company,
            COUNT(*) AS count
        FROM
            action_table
        join job_table
        on job_table.id = action_table.job_id and action_table.delivered = 1
        GROUP BY
            job_table.company
        ORDER BY
            count DESC
        LIMIT 4
    </select>
    <select id="getHotJob" resultType="java.lang.String">
        SELECT
            job_table.jd_title
        FROM
            action_table,job_table,favor where job_table.id = action_table.job_id and (action_table.delivered = 1
            or favor.job_id = job_table.id)
        GROUP BY
            job_table.jd_title
        ORDER BY
            COUNT(*) DESC
        LIMIT 5
    </select>
</mapper>
