<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftdd2.mapper.UsersMapper">


    <select id="getFavorList" resultType="com.ftdd2.domain.entity.JobTable">
        select * from ft_demo.job_table
        where id in
       (select job_id from ft_demo.favor where user_id=#{id})
    </select>
</mapper>
